{% load staticfiles %}
<!DOCTYPE html>
    <head>
        <title> Transparent Governance </title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />
        {% block head_injections %} {% endblock %}
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        {# Main content goes in this 'layout' block #}
        {% block layout %}{% endblock %}

        {% block footer_injections %}
            <script src="{% static 'js/bootstrap.js' %}"></script>
            <div id="app">
                <p> ${ message }$ </p>
            </div>

            <script>
            new Vue({
                delimiters: ['${', '}$'],
                el: '#app',
                data: {
                    message: 'Hello from Vue.js'
                }
            })
        </script>
	{% endblock %}

    </body>
</html>
